{% comment %}
  Homepage template - Fallback voor als index.json niet werkt
{% endcomment %}

<div class="homepage">
  {% section 'hero-impact' %}
  {% section 'benefit-pillars' %}
  {% section 'hero-split' %}
  {% section 'redlight-grid' %}
  {% section 'testimonials' %}
  {% section 'faq-accordion' %}
</div>
